body { margin: 0;
    padding: 0; }
#map { 
    position: absolute;
     top: 0;
      bottom: 0;
       width: 100%; 
       z-Index : '0';
    }
#commands {
        
        position: relative;
        top: 0;
        width: 100%;
        z-Index : '999';
      }
      .popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1101;
      }
      #restore{
        bottom: 5px;
        position: fixed;
        z-index: 1102;
        left: 45%;
      }
      #back{
        bottom: 5px;
        position: fixed;
        z-index: 1102;
        left: 5px;
      }
      #versionNumber{
        z-index: 1102;
        width: 100%;
        height: 30px;
        top: 0px;
        left: 0px;
      }
      #next{
        bottom: 5px;
        position: fixed;
        z-index: 1102;
        right: 5px;
      }
      .popup {
        width: 400px;
        height: 480px;
        background-color: #fff;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1002;
      }
      #tagPopup{
        width: 200px;
        height: 50px;
        background-color: #fff;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1002;
      }
      
      #nestedMap {
        position: relative;
        top: 0px;
        width: 100%;
        height: 88%;
        z-index: 1100;
      }
      
.buttons {
  text-align: center;
  margin-top: 5px;
}
#enterGeo {
    width: 350px;
    height: 300px;
    resize: vertical;
    resize: none;
}
#error-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 4px;
  z-index: 1202 !important;
}
#change{
  display: none;
}
#infoButton {
      position: fixed;
      bottom: 30px;
      right: 10px;
      width: 55px;
      height: 20px;
      cursor: pointer;
      z-index: 1000;
      background-color: gray;
      color: white;
      font-size: medium;
}
#infoPopup {
      display: none;
      position: fixed;
      bottom: 70px;
      right: 10px;
      width: 400px;
      height: 300px;
      background-color: white;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      z-index: 1000;
    }
    #popupContent {
      margin-bottom: 0px;
    }
    #showWhere {
display: table;
position: fixed;
      bottom: 20px;
      right: 80px;
margin: 0px auto;
word-wrap: anywhere;
white-space: pre-wrap;
padding: 10px;
border: none;
border-radius: 3px;
font-size: 12px;
text-align: center;
color: "white";
}
#lastClick {
    display: table;
    position: fixed;
          bottom: 20px;
          right: 330px;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: "white";
    }
#lastPoint {
    display: block;
    position: absolute;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: "white";
    }
#clickToggle{
  position: fixed;
      bottom: 30px;
      left: 10px;
      width: 55px;
      height: 20px;
      cursor: pointer;
      z-index: 1000;
      background-color: gray;
      color: white;
      font-size: medium;
}
#clickTogglePopup {
      display: none;
      position: fixed;
      bottom: 60px;
      left: 10px;
      width: 90px;
      height: 190px;
      background-color: white;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      z-index: 1000;
}
#singleSelect{
  position: fixed;
      left: 15px;
      bottom: 245px;
      width: 100px;
      height: 20px;
      border: 1px solid #ccc;
}
#multiSelect{
  position: fixed;
      left: 15px;
      bottom: 215px;
      width: 100px;
      height: 20px;
      border: 1px solid #ccc;
}
#move{
  position: fixed;
  bottom: 185px;
      left: 15px;
      width: 100px;
      height: 20px;
      border: 1px solid #ccc;
}
#moveSelect{
    display: none;
    position: fixed;
    bottom: 185px;
        left: 15px;
        width: 48px;
        height: 20px;
        border: 1px solid #ccc;
  }
  #moveMove{
    display: none;
    position: fixed;
    bottom: 185px;
        left: 68px;
        width: 48px;
        height: 20px;
        border: 1px solid #ccc;
  }
  #addSelect{
    display: none;
    position: fixed;
    bottom: 125px;
        left: 15px;
        width: 48px;
        height: 20px;
        border: 1px solid #ccc;
  }
  #addAdd{
    display: none;
    position: fixed;
    bottom: 125px;
        left: 68px;
        width: 48px;
        height: 20px;
        border: 1px solid #ccc;
  }
  #merge{
    position: fixed;
  bottom: 155px;
      left: 15px;
      width: 100px;
      height: 20px;
      border: 1px solid #ccc;
  }
  #add{
    position: fixed;
  bottom: 125px;
      left: 15px;
      width: 100px;
      height: 20px;
      border: 1px solid #ccc;
  }
#nothing{
  position: fixed;
      left: 15px;
      bottom: 65px;
      width: 100px;
      height: 20px;
      border: 1px solid #ccc;
      background-color: gray;
}
#addTag{
    position: fixed;
      left: 15px;
      bottom: 95px;
      width: 100px;
      height: 20px;
      border: 1px solid #ccc;
}
#removeAll{
  display: none;
  background-color: gray;
  position: fixed;
      left: 130px;
      bottom: 30px;
      width: 120px;
      height: 20px;
      border: 1px solid #ccc;
}
#addEnd{
    display: none;
    position: fixed;
        left: 80px;
        bottom: 30px;
        width: 180px;
        height: 20px;
        border: 1px solid #ccc;
  }
#undo{
  background-color: gray;
  position: fixed;
  bottom: 60px;
  right: 10px;
  width: 55px;
  height: 20px;
      border: 1px solid #ccc;
}
.close-button {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 1000;
  }
      .close-button:hover {
          color: red;
  }
  #versionsTable{
    z-index:2;
}

  #showVersions {
    display: none;
        text-align: center;
        overflow: auto;
      position: absolute;
      bottom: 90px;
      right: 10px;
      min-height: 150px;
      max-height: 300px;
      width: 150px;
      height: auto;
      background-color: white;
      padding: 5px 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      z-index: 1;
    border: 1px solid black;
  }


  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 999; /* Ensure the overlay is on top of other elements */
  }

 